<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script type="text/javascript" src="js/form.js" defer></script>
    <title>Students GPA</title>
</head>
<body>
  <nav class="menu">
    <ul>
      <li>
        <a href="/">Students Info Form</a><br>
      </li>
      <li>
        <a href="/dataList">Data List</a>
      </li>
    </ul>
  </nav>
    <section class="main">
        <form name="eform" method="Post" onsubmit="return formSubmit();"   action="" >

          <label>Student Number</label>
          <input id="number" placeholder="Cc1234567" type="text" name="number"><br/>

          <label>Semester-1 GPA</label>
          <input id="semester1" placeholder="Semester-1 GPA" type="gpa" name="semester1"><br/>
    
          <label>Semester-2 GPA</label>
          <input id="semester2" placeholder="Semester-2 GPA" type="gpa" name="semester2"><br/>

          <label>Semester-3 GPA</label>
          <input id="semester3" placeholder="Semester-3 GPA" type="gpa" name="semester3"><br/>
    
          <input type="submit" value="Submit">
          <p id="errors"></p>
        </form> 
    </section> 

    <section class="main">
        <div class="formData">
      <%
        if(typeof(errors) != 'undefined')
        {
          for (let err of errors)
          {
      %>
            <p class="errors"> Error : <%= err.msg %> </p>
      <%
          }
        }
      %>

      <%
        if(typeof(errorMessage) != 'undefined')
        {
      %>
          <p class="errors"> Error : <%= errorMessage %> </p>
      <%
        }
      %>
      <p id="formResult">Details of the students Info entered:</p>
      <table>
        <tr>
          <th>Student Number:</th>
          <% if(typeof(number) != 'undefined')
          {
          %>
            <td> <%= number %> </td>
          <%
          }
          %>
        </tr>
        <tr>
          <th>Semester-1:</th>
          <% if(typeof(semester1) != 'undefined')
          {
          %>
            <td> <%= semester1 %> </td>
          <%
          }
          %>
        </tr>
        <tr>
          <th>Semester-2:</th>
          <% if(typeof(semester2) != 'undefined')
          {
          %>
            <td> <%= semester2 %> </td>
          <%
          }
          %>
        </tr>
        <tr>
          <th>Semester-3:</th>
          <% if(typeof(semester3) != 'undefined')
          {
          %>
            <td> <%= semester3 %> </td>
          <%
          }
          %>
          </tr>
        </table>
      </div>
    </section>
    <div class="clear"></div>
</body>
</html>

